@model nyUtdannet2.Models.JobListing

@{
    ViewData["Title"] = "Job Listing Details";
}

<div class="card mb-4 job-card">
    <div class="card-header text-white bg-gradient">
        <h3 class="card-title mb-0">@Model.Title</h3>
    </div>
    <div class="card-body">
        <p><strong>Beskrivelse:</strong><br /> @Model.Description</p>
        <p><strong>Krav:</strong><br /> @Model.Requirements</p>
        <p><strong>Opprettet:</strong> @Model.CreatedDate.ToString("yyyy-MM-dd")</p>
        <p><strong>Frist dato:</strong> @Model.Deadline.ToString("yyyy-MM-dd")</p>
    </div>
    <div class="card-footer d-flex justify-content-between">
        <a asp-action="ViewJobListing" asp-route-jobListingId="@Model.Id" class="btn btn-luxury">Vis detaljer</a>
        <a asp-action="AddToFavorites" asp-route-jobListingId="@Model.Id" class="btn btn-gold">Legg til favoritt</a>
    </div>
</div>

